---
---
<button class="bg-gray-900 hover:bg-gray-700 rounded-lg p-3 flex flex-col gap-2">
    <img src="https://m.media-amazon.com/images/I/71A18RcVsWL._UF1000,1000_QL80_.jpg" alt="" class="rounded-md max-w-36 max-h-36"/>
    <h3 class="text-white">
        Liked Songs
    </h3>
    <h4 class="text-gray-500 text-sm"> 
        3,868 songs
    </h4>
</button>