---
import SongItem from './SongItem.astro'
import MusicPlayer from './MusicPlayer.astro'
import PlayerSettings from './PlayerSettings.astro'
---

<div class="[grid-area:player] min-h-[80px] flex place-content-between">
    <SongItem />
    <MusicPlayer />
    <PlayerSettings />
</div>