---
---
<section>
    <ul class="flex gap-2 items-center">
        <li><button></button></li>
        <li><button></button></li>
        <li><button></button></li>
        <li><button></button></li>
        <li><button></button></li>
        <li><buttton></buttton></li>
        <li><button></button></li>
    </ul>
</section>