---

---

<button class="flex flex-row gap-4 rounded-md p-1 items-center">
    <img src="https://m.media-amazon.com/images/I/71A18RcVsWL._UF1000,1000_QL80_.jpg" alt="" class="w-14 h-14 rounded-md">
    <div class="flex flex-col items-start">
        <a href="/">
            <h2 class="text-md text-white hover:underline">Dramaturgy</h2>
        </a>
        <a href="/">
            <h3 class="text-sm hover:underline text-gray-500">Eve</h3>
        </a>
    </div>
</button>