---
import CollectionItem from './CollectionItem.astro'
---
<div class="flex justify-between overflow-hidden">
    <CollectionItem />
    <CollectionItem />
    <CollectionItem />
    <CollectionItem />
    <CollectionItem />
    <CollectionItem />
</div>