---

---
<div class="flex place-content-between">
    <a href="">
        <h2 class="text-white text-2xl hover:underline">
            <slot/>
        </h2>
    </a>
    <a href="" class="text-sm text-gray-500 hover:underline">Show all</a>
</div>