---
import CollectionItem from './CollectionItem.astro'
---
<div class="flex gap-4 justify-between overflow-hidden pb-7">
    <CollectionItem />
    <CollectionItem />
    <CollectionItem />
    <CollectionItem />
    <CollectionItem />
    <!-- <CollectionItem /> -->
</div>