---
---
<button class="flex rounded-md bg-gray-800 hover:bg-gray-600 items-center gap-2">
    <img src="https://i1.sndcdn.com/artworks-4Lu85Xrs7UjJ4wVq-vuI2zg-t500x500.jpg" alt="" class="max-w-12 max-h-12 rounded-l-md"/>
    <span>Liked Songs</span>
</button>